/* Minimal overrides to support hover effects that aren't fully covered by utility classes yet */
::deep .hover-elevation-4:hover {
    box-shadow: var(--mud-elevation-4);
    border-color: var(--mud-palette-primary) !important;
}

::deep .cursor-pointer {
    cursor: pointer;
}

::deep .relative {
    position: relative;
}

::deep .overflow-hidden {
    overflow: hidden;
}