.cp-def-list__card {
    border: 1px solid var(--isl-color-border);
    border-radius: 12px;
}

.cp-def-list__filter {
    max-width: 300px;
}

.cp-def-list__grid {
    border-radius: 12px;
    border: 1px solid var(--isl-color-border);
    overflow: hidden;
}

.cp-def-list__grid ::deep .mud-table-root {
    border-radius: 12px;
}
