/* ===== Block: home-page ===== */

.home-page__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--mud-palette-background);
}

.home-page__loading-content {
    text-align: center;
}

.home-page__loading-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 500;
    color: var(--mud-palette-text-primary);
}

.home-page__loading-text {
    color: var(--mud-palette-text-secondary);
}

